<div class="paperSort videoSelector"></div>

<div class="checkBoxWrapper videoSelector">
	<div id="filters">
		<h2 class="filmFilter">
		  <a href="#" data-filter=".film">Film</a>
			<div class="filmBox checkBox"></div>
			<div class="filmCheck checkMark "></div>
		</h2>
		<h2 class="televisionFilter">
		  <a href="#" data-filter=".television">Television</a>
        <div class="televisionBox checkBox"></div>
        <div class="televisionCheck checkMark "></div>
		</h2>
		
		<h2 class="digitalFilter">
		  <a href="#" data-filter=".digital">Digital</a>
			<div class="digitalBox checkBox"></div>
			<div class="digitalCheck checkMark "></div>
		</h2>	
		<h2 class="allFilter">
		  <a href="#" data-filter=".all">All</a>
			<div class="allBox checkBox"></div>
			<div class="allCheck checkMark"></div>
		</h2>		
	</div>
</div>

<div class="videoBorder videoSelector"></div>
  	<div class="paginateVideos">
  		<h3>
  			<!-- Carousel nav -->
        <a class="backButton left" href="#myCarousel" data-slide="prev"><===</a>
        &nbsp;&nbsp; Page &nbsp;&nbsp;
        <a class="backButton right" href="#myCarousel" data-slide="next">===></a>
  		</h3>
  	</div>
  <div class="containerVideos">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
      <div class="active item">
          <%= render 'posterframeCell', :videos => @videos %>
      </div>
      <div class="item">
          <%= render 'posterframeCell', :videos => @videos_left %>
      </div>
      <div class="item">
          <%= render 'posterframeCell', :videos => @videos_right %>
      </div>
      </div>
    </div>
  </div>

