<div class="clientWrapper">

	<div class="roundedNav"></div>
	<div class="logoRadioClient"></div>
	<!--
	<div class="logoDrawn"></div>
	<div class="radio"></div>
	-->
	<div class="loginHeader"></div>
	<div class="loginWrapper">
		<h3>
			username:<input type="text" class="loginField">
		</h3>
		<h3>
			password:<input type="text" class="loginField">
		</h3>
	</div>

	<div class="navTextWrapper">
    	<h2><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2 class="navSelected"><%= link_to "client", client_path %></h2>
  	</div>
</div>