<div class="contactWrapper">
	<div class="roundedNav"></div>
	<div class="navTextWrapper">
    	<h2><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  	</div>
	<div class="contactPaper"></div>
	<div class="contactBackground"></div>
	<div class="contactAddress">
		<h3>
			Ketchum Labs<br />
			Suite 405<br />
			Los Angeles, CA 90013<br />
			Work: 213.612.0370<br />
			Fax: 213.341.2347<br />
			hi@ketchumlabs.com<br />
		</h3>
	</div>
	<div class="contactDisclaimer">
		<h4>
			Please note that Ketchum Labs does not accept unsolicited submissions of any kind. Any submissions that are sent to us will be kindly discarded.
		</h4>
	</div>


</div>