<div class="teamWrapper">
	<div class="roundedNav"></div>
	<div class="backgroundTeam"></div>
	<div class="teamPaper"></div>
	<div class="photoTeam"></div>
	<div class="snowmobile"></div>

	<div class="teamNavText">
		<h2><span class="title">KECHUM LABS</span></h2>
		<h2><span class="boldCaps">&#x95; Kevin Abrams: </span>Executive Producer</h2>
		<h2><span class="boldCaps">&#x95; Patrick Weir: </span>Executive Producer</h2>
		<h2><span class="boldCaps">&#x95; Maury Gallagher: </span>Partner</h2>
	</div>

	<div class="teamBluePaperFull"></div>

	<div class="navTextWrapper">
    	<h2><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  	</div>
</div>

