<div class="teamWrapper">
	<div class="roundedNav"></div>
	<div class="backgroundTeam"></div>
	<div class="teamPaper"></div>
	<div class="photoTeam"></div>
	<div class="snowmobile"></div>

	<div class="teamNavText">
		<h2>
			<a href="#kechumBio" data-toggle="tab">
				<span class="title colorLink">KETCHUM LABS</span>
			</a>
		</h2>
		<h2>
			<a href="#kevinBio" data-toggle="tab">
				<span class="boldCaps colorLink">&#x95; Kevin Abrams: </span>
				Executive Producer
			</a>
		</h2>
		<h2>
			<a href="#patrickBio" data-toggle="tab">
				<span class="boldCaps colorLink">
				&#x95; Patrick Weir: 
				</span>
				Executive Producer
			</a>
		</h2>
		<h2>
			<a href="#mauryBio" data-toggle="tab">
				<span class="boldCaps colorLink">
				&#x95; Maury Gallagher: 
				</span>
				Partner
			</a>
		</h2>
	</div>

	<div class="teamBluePaperFull">
		<div class="tab-content">
			<div class="tab-pane active" id="kechumBio">
				<h4>
					KETCHUM LABS was founded in 2011 by Kevin Abrams, Patrick Weir and Maury 	Gallagher. Presently, Ketchum Labs is in post-production on the feature 	documentary "The Other Shore", chronicling Diana Nyad's attempt to be become 	the first person to swim from The Florida Keys to Cuba without a shark cage. 	KL is also in production on the unscripted series “Chasing Spencer”, the first 	rookie-eyed look at life as an aspiring Nascar driver. “Chasing Spencer” was 	recently sold to Fox as an 8-episode series, which will air at the beginning 	of 2013. Ketchum Labs is represented by William Morris Endeavor.
				</h4>
			</div>
			<div class="tab-pane" id="kevinBio">
				<h4>
					KEVIN ABRAMS (Principal/Executive Producer): A graduate of the University of 	Pennsylvania and a recipient of an MFA in directing from the prestigious 	American Film Institute, Kevin has worked in film and television for the past 	fifteen years. From editing to producing, to sound, to cinematography, Kevin 	has been involved in programming that has appeared on PBS, Discovery, MTV, 	ABC, VH1, Animal Planet and a host of other networks. He has worked in 	editorial on the Emmy-nominated Whale Wars as well as on the Oscar-nominated 	documentary feature “Daughter of Danang”.
				</h4>
				<h4>
					In 2006 Kevin founded the multi-media production company Fairtrade Films which 	has since produced music videos, created video game installations for 	Disney/Epcot Center, wrote the best-selling video games, “Ratchet and Clank: 	Tools of Dustruction” and “Dirt 3”, and authored the acclaimed graphic novel, 	"Vendor". In addition, Fairtrade Films has set-up fiction shows with Landscape 	Entertainment, Freemantle Entertainment and Kaplan Entertainment. Recently, 	Fairtrade saw the release of their first produced feature, “The Dynamiter” 	which had its world premiere at the esteemed 2011 Berlin Film Festival and its 	North American premiere at the 2011 Los Angeles Film Festival, and was 	nominated for Best Feature Under 500k and Cinematography at the 2012 	Independent Spirit Awards.
				</h4>
			</div>
		<div class="tab-pane" id="patrickBio">
			<h4>
				PATRICK WEIR (Principal/Executive Producer): Patrick began his career at CNET Networks (cnet.com) as a Producer in their Advertising Development group in the late 1990’s.  Working with CNET’s premiere advertisers including Sony, Microsoft, Oracle and HP, Weir and his team pioneered the first wave of Flash-based video and interactive advertising across CNET’s properties: CNET, ZDNet, GameSpot & TechRepublic.
			</h4>
			<h4>
				Weir segued into television and joined Fox Cable Network's action sports and music network, FUEL TV, as a staff producer/editor.  The first few years were spent producing and editing Fuel TV's marquee show, Firsthand, a half-hour unscripted series featuring the world’s best surfing, skateboarding, snowboarding and freestyle motocross athletes. He later developed and ran FUEL TV's studio daily show –The Daily Habit– producing over 500 shows.
			</h4>
			<h4>
				Opting for a wider range of projects, Weir left FUEL TV and currently produces unscripted and commercial content across all platforms. His clients include Fox, Saatchi & Saatchi, BermanBraun, MSN, G4, NBC, Red Bull, Toyota, Truth, Mt. Dew and Adidas.
			</h4>
		</div>
		<div class="tab-pane" id="mauryBio">
			<h4>
				MAURY GALLAGHER (Partner/Principal Investor): Maurice J. Gallagher, Jr. is a Principal at Gallagher Corporation, Gallagher Equity Management and Co-Partner of the investment firm at Flynn/Gallagher. He also serves an Advisor at Blue Beacon Capital LLC. Mr. Gallagher provides senior management direction to companies that include Telecommunications and Internet applications service provider companies. In early 1996, he co-founded Mpower Communications. 
			</h4>
			<h4>
				From September 2001 to the present, Mr. Gallagher serves as Chairman of Allegiant Airlines. He was also a Chairman of the Board of Mpower Communications. Prior to Mpower, Mr. Gallagher founded ValuJet Airlines. Previously, he was a Founder and President at WestAir Holding. Mr. Gallagher also helped launch PurchasePro.com and BankServ. He is a graduate from the University of California at Davis with a Bachelor of Arts in History and holds an M.B.A. from the University of California at Berkeley.
			</h4>
		</div>
	</div>
	</div>
	<div class="navTextWrapper">
    	<h2><%= link_to "the work", work_path %></h2>
    	<h2 class="navSelected"><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  	</div>
</div>

<script type="text/javascript">

$('.teamNavText h2 a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');

    //$('.tab-content h4').animate({
    //  opacity: '.3'
    //  }, 2000
    //);
});

$(function() {
   $('a[data-toggle="tab"]').on('show', function (e) {
   		$('.tab-content').toggle(700); 
   		
    })
});


</script>




