<div class="teamWrapper">
	<div class="roundedNav"></div>
	<div class="backgroundTeam"></div>
	<div class="teamPaper"></div>
	<div class="photoTeam"></div>
	<div class="snowmobile"></div>

	<div class="navTextWrapper">
    	<h2><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  	</div>
</div>

