<div class="workWrapper">
	<div class="roundedNav"></div>
	<div class="paperSort"></div>
	<div class="logoDots"></div>

	<div class="checkBoxWrapper">
		<h2>Film</h2>
		<h2>Television</h2>
		<h2>Digital</h2>
	</div>


	<div class="navTextWrapper">
    	<h2><%= link_to "the work", work_path %></h2>
    	<h2><%= link_to "the team", team_path %></h2>
    	<h2><%= link_to "contact", contact_path %></h2>
    	<h2><%= link_to "client", client_path %></h2>
  	</div>
</div>